fastapi
uvicorn[standard]
grpcio
grpcio-tools
protobuf
pydantic
pydantic-settings
python-dotenv
python-multipart
requests
psutil
prometheus_client
structlog
python-json-logger
opencv-python-headless
ultralytics
facenet-pytorch
torch
torchvision
pillow
numpy
scipy
polars
psycopg2-binary
PyYAML
Jinja2
